# Auto detect text files and perform LF normalization
#* text=auto
git lfs track "Data/amazon-meta.txt"
git lfs track "Data/amazon-meta.txt.gz"
Data/amazon-meta.txt filter=lfs diff=lfs merge=lfs -text
Data/amazon-meta.txt.gz filter=lfs diff=lfs merge=lfs -text
